/* sub 고객페이지 본문 */
main{clear: both; padding-top: 150px;}

#title{
    text-align: center; padding-bottom: 50px;
}

#c_form{
    margin: 0 auto;
    width: 900px;
    border-top-left-radius: 20px; border-top-right-radius: 20px;
    box-shadow: -1px 1px 10px lightgray;
}

#c_form1{
    padding: 80px;
}

#c_form2{
    text-align: center; padding-bottom: 150px;
    input{width: 16px; height: 16px; position: relative; top: 2px;}
    label{color: rgb(31, 31, 31);}
    label a{padding-bottom: 2px; border-bottom: 2px solid black;}
    div{margin-top: 30px;}
}
#c_form2 div button{
    width: 170px; padding: 10px 25px; border-radius: 50px; border: 2px solid black; background-color: white;
    font-size: 16px; cursor: pointer;
    transition: all 0.5s ease;
}
#c_form2 div button:hover{
    border-color: #ee5800; background-color: #ee5800; color: white; font-weight: bold;
}