@font-face {
    font-family: 'SeoulAlrimTTF-Heavy';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2505-1@1.0/SeoulAlrimTTF-Heavy.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'SUIT-Regular';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

/* media 반응형 스타일 */
@media screen and (min-width:1440px){
    .menu_wrap {gap: 80px;}
    .top_menu {font-size: 1.2rem;}
    .sub_menu {font-size: 1.0rem; width: 100px;}
    #menu_background h1{font-size: 3.0rem;}
}
@media screen and (max-width:1440px){
    .menu_wrap {gap: 60px;}
    .top_menu {font-size: 1.2rem;}
    .sub_menu {font-size: 1.0rem; width: 100px;}
    #menu_background h1{font-size: 3.0rem;}
}
@media screen and (max-width:1280px){
    .menu_wrap {gap: 40px;}
    .top_menu {font-size: 1.1rem;}
    .sub_menu {font-size: 0.9rem; width: 90px;}
    #menu_background h1{font-size: 2.0rem;}
}
@media screen and (max-width:1024px){
    .menu_wrap {gap: 18px;}
    .top_menu {font-size: 1.0rem;}
    .sub_menu {font-size: 0.7rem; width: 80px;}
    #menu_background h1{font-size: 1.5rem;}
}

@media screen and (min-width:768px){
    #icon_menu {display: none;}
    #button_top_s{display: none;}
}
@media screen and (max-width:768px){
    .h_wrap nav{display: none;}
    #icon_menu {display: block;}

    #button_top{display: none;}
    #button_top_s{display: block;}
}


/* 공통 스타일 */
html{background-color: white; min-width: 768px}
body{background-color: white; margin: 0px; padding: 0; font-family: 'SUIT-Regular';}
hr{clear: both; margin: 0; padding: 0;}
a{text-decoration: none; color: black;}
h1{
    margin: 0; padding: 0;
    font-family: 'SeoulAlrimTTF-Heavy';
    font-size: 4rem;
}
h2{
    margin: 0; padding: 0;
    font-size: 40px;
}
h5{
    margin: 0; padding: 0;
    font-size: 18px; font-weight: 400;
}
h6{
    margin: 0; padding: 0;
    font-size: 16px; font-weight: 400;
    color: rgb(110, 110, 110);
}


/* header 상단 헤더 스타일 */
header{
    width: 100%; background-color: white; border-bottom: 1px solid rgba(211, 211, 211, 0.5);
    position: fixed; z-index: 99;
}
.h_wrap{
    margin: 20px auto; height: 60px;
    position: relative;
}
.h_wrap #main_logo{
    float: left; margin: 15px 0px 0px 5%;
}
nav{
    float: right; margin: 5px 4% 0px 0px;
}
.menu_wrap{
    display: flex; justify-content: right;
    position: relative;
}
.top_menu{
    list-style: none; padding: 0;
}
.top_menu:hover{
    a{color: #ee5800; font-weight: bold;}
    ul a{color: black; font-weight: normal;}
}
.sub_menu{
    list-style: none; padding: 0; margin-top: 45px;
    display: none;
    position: absolute; z-index: 2;
    li{margin: 10px 0;}
}
.sub_menu li:hover a{
    padding-bottom: 1px;
    border-bottom: 2px solid black;
    font-weight: bold;
}
.h_wrap #icon_menu{
    position: absolute; right: 5%; top: 20%;
    width: 35px;
}
#menu_background{
  position: fixed; left: 0; right: 0; top: 100px;
  height: 0px; background: #ee5800; opacity: 0; pointer-events: none; z-index: 1;
  display: flex; align-items: center;
  transition: opacity 0.5s ease, height 0.5s ease;
  h1{margin-left: 5%; color: white; line-height: 120%;}
}
.h_wrap:hover #menu_background{
    height: 180px;
    opacity: 1;
}


/* 우측 aside 스타일 */
#button_top{
    position: fixed; right: 3%; bottom: 5%; z-index: 99;
    width: 90px; height: 350px; background-color: rgba(0, 0, 0, 0.8); border-radius: 10px;
    padding: 20px 0px; text-align: center;
    a{color: white;}
}
#button_top table{
    margin: 0px auto; text-align: center;
    color: rgb(223, 223, 223); font-size: 14px;
    span{font-size: 26px;}
    hr{border: 1px solid gray;}
    td{padding: 5px 0;}
}
#button_top_s{
    position: fixed; right: 3%; bottom: 5%; z-index: 99;
    width: 40px; height: 40px; background-color: rgba(0, 0, 0, 0.8); border-radius: 10px;
    padding: 20px; text-align: center; font-size: 0.9rem;
    a{color: white;}
}


/* 하단 footer 스타일 */
.f_wrap{
    position: relative;
    background-color: #ffeebb;
    padding: 10px 5% 220px 5%;
    color: #ee5800; font-size: 0.9rem;
    a{color: #ee5800;}
    hr{border: none; border-top: 1px solid #ee570070;}
}
.f_wrap ul{
    list-style: none; padding: 0;
}
.f_wrap li{
    display: inline-block; padding-right: 30px;
}
#f_text{
    position: relative;
    margin-top: 25px;
}
#f_logo{
    position: absolute; left: 0; top: 0;
    margin-right: 50px; margin-bottom: 20px;
}
#f_sns{
    position: absolute; left: 0; top: 120px;
    img{width: 30px; padding-right: 8px;}
}
#f_copyright{
    position: absolute; left: 200px; top: 0;
    line-height: 170%;
    p{margin: 0;}
}